import * as React from 'react'

import style from './style';

/* <%= name %> properties */
export interface <%= name %>Props {
    
}

/* <%= name %> layout */
export default function <%= name %>(props: <%= name %>Props) {
    return <div className={style.root}><%= name %> component</div>
}